div#\:0\.targetLanguage,
a.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  height: 100%;
  color: transparent !important;
}

select.goog-te-combo {
  height: 30px;
  width: 100%;
  border: 1px solid #dcdcdc;
}

.skiptranslate:not(.goog-te-gadget) {
  visibility: hidden !important;
}

.goog-te-banner-frame.skiptranslate,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  visibility: hidden !important;
}

.skiptranslate .goog-te-gadget {
  display: inline;
}

#google_translate_element {
  display: inline-block;
  position: relative;
  width: 150px;
  /* top: 8px; */
}

.nav-item {
  position: relative;
}

#\:0\.targetLanguage {
  display: inline-block !important;
  height: 100%;
}

@media screen and (max-width: 550px) {
  #google_translate_element {
    width: 30px !important;
    height: 30px !important;
  }

  select.goog-te-combo {
    width: 100% !important;
  }

  .goog-te-combo {
    height: 100% !important;
    appearance: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: url('https://raw.githubusercontent.com/TranDangKhoaAutomation/Styled-Google-Translate-Widget/main/images/translate.png') no-repeat center;
    background-color: transparent !important;
    background-size: 20px 20px;
    text-indent: -9999px;

    height: 35px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin: 0px !important;
  }
}